<div class="container">
    <div class="sidebar">
      <h4>Customer Actions</h4>
      <a  [routerLink]="['deposit']"><i class="fas fa-user-plus"></i>Deposit</a>
      <a [routerLink]="['withdraw']"><i class="fas fa-info-circle"></i> Withdraw</a>
      <a [routerLink]="['transfer']"><i class="fas fa-edit"></i> Transfer</a>
      <a [routerLink]="['transaction-history']"><i class="fas fa-trash-alt"></i>Transaction History</a>
      <a [routerLink]="['loan-apply']"><i class="fas fa-trash-alt"></i>Loan-Apply</a>
      <a [routerLink]="['loan-details']"><i class="fas fa-trash-alt"></i>Loan-Details</a>
      <a [routerLink]="['card-apply']"><i class="fas fa-trash-alt"></i>Card-Apply</a>
      <a [routerLink]="['card-details']"><i class="fas fa-trash-alt"></i>Card-Details</a>
      <a [routerLink]="['investment']"><i class="fas fa-trash-alt"></i>Investment</a>
      <a [routerLink]="['investment-details']"><i class="fas fa-trash-alt"></i>Investment-Details</a>
    </div>
  </div>

