<div class="container">
    <div class="row">
         <div class="col-sm-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <div class="alert alert-primary mb-4" *ngIf="successMsg">
                        {{successMsg}}
                    </div>
                    <div class="alert alert-danger mb-4" *ngIf="errorMsg">
                        {{errorMsg}}
                    </div>
                    <div class="alert alert-danger mb-4" *ngIf="msg">
                        {{msg}}
                    </div>
                    <div class="mb-4">
                        <label>Enter Username: </label> 
                        <input type="text" class="form-control" [(ngModel)]="username" >
                    </div>
                    <div class="mb-4">
                        <label>Enter Password: </label>
                        <input type="password" class="form-control" [(ngModel)]="password">
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" (click)="onLogin()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>