
  <div class="px-3 py-2 text-bg-dark border-bottom mb-3">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
      <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto clickable-text" (click)="navigateToHome()">
         Hexaware Bank
      </div>
      <div class="text-end">
        <span class="me-3 clickable-text" (click)="navigateToAbout()">About</span>
        <button type="button" class="btn btn-secondary me-3" (click)="navigateToLogin()">Login</button>
        <button type="button" class="btn btn-primary" (click)="navigateToSignUp()">Sign-up</button>
      </div>
    </div>
  </div>

 