<div class="container mt-5">
    <div class="card">
      <div class="card-header bg-primary text-white text-center">
        Apply for Bonds
      </div>
      <div class="card-body">
        <form [formGroup]="bondsForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="bondType" class="form-label">Bond Type</label>
            <select id="bondType" formControlName="bondType" class="form-control">
                <option value="">Select Bond Type</option>
                <option *ngFor="let bond of bondTypes" [value]="bond.type">
                  {{ bond.type }}
                </option>
              </select>
              
            <div *ngIf="bondsForm.controls['bondType'].touched && bondsForm.controls['bondType'].invalid">
              <small class="text-danger">Bond type is required.</small>
            </div>
          </div>
          <div *ngIf="selectedBond">
            <p>Interest Rate: {{ (selectedBond.rate * 100).toFixed(2) }}%</p>
            <p>Time Period: {{ selectedBond.years }} years</p>
            <p>Face Value: ₹{{ selectedBond.faceValue }}</p>
            <p>Fixed Amount: ₹{{ selectedBond.fixedAmount }}</p>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="bondsForm.invalid">Apply</button>
        </form>
        <div *ngIf="totalValue !== undefined" class="mt-3">
          <p class="alert alert-info">Total Value after {{ selectedBond.years }} years: ₹{{ selectedBond.faceValue.toFixed(2) }}</p>
        </div>
        <div *ngIf="successMsg" class="alert alert-success mt-3">
          {{ successMsg }}
        </div>
        <div *ngIf="errorMsg" class="alert alert-danger mt-3">
          {{ errorMsg }}
        </div>
      </div>
    </div>
  </div>
  
