<app-auth-header></app-auth-header>

<div class="container">
    <div class="header">
      <img src="https://res.cloudinary.com/people-matters/image/upload/fl_immutable_cache,w_624,h_351,q_auto,f_auto/v1719923333/1719923331.jpg" alt="Hexaware Bank Logo">
      <h1>About Hexaware Bank</h1>
    </div>
    <div class="content">
      <p><span>Welcome to Hexaware Bank</span><br><br>
         Hexaware Bank is a premier financial institution dedicated to serving the banking needs of individuals and businesses across the globe. Founded on the principles of trust, integrity, and excellence, Hexaware Bank has grown to become a leading bank, offering a wide range of services designed to meet the diverse needs of our esteemed customers.
      </p>
      <div class="image">
        <img src="https://media.licdn.com/dms/image/v2/D4D10AQECWel3xLCdxw/image-shrink_800/image-shrink_800/0/1714712400940?e=2147483647&v=beta&t=Sdq-0ptwOHyj7NtWk_I2_dW-jyeWVhOJ8GrgkiVlqMY" alt="Hexaware Bank Services">
      </div>
      <p>
         At Hexaware Bank, we believe in fostering long-term relationships with our clients by delivering exceptional financial solutions that go beyond traditional banking. Whether you are looking to manage personal finances, grow your business, or seek investment opportunities, we are here to provide tailored services that align with your unique requirements.
      </p>
      <p>
         Our team of highly skilled professionals works diligently to ensure the highest standards of customer service, security, and confidentiality. From the safety of your savings to the efficiency of your transactions, we are committed to offering innovative and reliable solutions.
      </p>
      <p class="topic">Our Vision:</p>
      <p>
         To be the most trusted and forward-thinking financial institution, creating value for our clients while upholding the highest ethical standards.
      </p>
      <p class="topic">Our Mission:</p>
      <p>
         To empower individuals and businesses with comprehensive banking services, innovative financial products, and unparalleled customer support, ensuring seamless access to financial freedom.
      </p>
      <div class="image">
        <img src="https://i.ytimg.com/vi/mq6Y3no6Gxw/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCd9r62odA8zEtyHUAErXmiXJv7dQ" alt="Hexaware Bank Vision and Mission">
      </div>
      <p>
         Thank you for choosing Hexaware Bank—where your financial success is our priority.
      </p>
    </div>
  </div>