<div class="container mt-5 mb-5">
    <div class="card">
      <div class="card-header">
        <h2>Customer Details</h2>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Date of Birth</th>
              <th>Gender</th>
              <th>Contact Number</th>
              <th>Address</th>
              <th>Aadhar Number</th>
              <th>PAN Number</th>
              <th>Created At</th>
              <th>Status</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{ customer.firstName }}</td>
              <td>{{ customer.lastName }}</td>
              <td>{{ customer.dateOfBirth }}</td>
              <td>{{ customer.gender }}</td>
              <td>{{ customer.contactNumber }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.aadharNumber }}</td>
              <td>{{ customer.panNumber }}</td>
              <td>{{ customer.createdAt }}</td>
              <td>{{ customer.status }}</td>
              <td>{{ customer.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  