<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        Withdraw Money
      </div>
      <div class="card-body">
        <form [formGroup]="withdrawForm" (ngSubmit)="onFormSubmit()">
          <div class="mb-3">
            <label for="amount" class="form-label">Amount to Withdraw</label>
            <input type="number" id="amount" formControlName="amount" class="form-control" placeholder="Enter amount">
            <div *ngIf="withdrawForm.controls['amount'].touched && withdrawForm.controls['amount'].invalid">
              <small class="text-danger">Amount is required and must be at least 1 and should not exceed the account balance.</small>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="withdrawForm.invalid">Withdraw</button>
        </form>
        <div *ngIf="successMsg" class="alert alert-success mt-3">
          {{ successMsg }}
        </div>
        <div *ngIf="errorMsg" class="alert alert-danger mt-3">
          {{ errorMsg }}
        </div>
      </div>
    </div>
  </div>
  