<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        Loan Details
      </div>
      <div class="card-body">
        <div *ngIf="errorMsg" class="alert alert-danger">
          {{ errorMsg }}
        </div>
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th>Date</th>
              <th>Loan Type</th>
              <th>Amount</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let loan of loans let i = index">
              <th scope="row">{{i+1 +(page*size)}}</th>
              <td>{{ loan.dateCreated}}</td>
              <td>{{ loan.loanType }}</td>
              <td>{{ loan.amount }}</td>
              <td>{{ loan.status}}</td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item ">
              <button class="page-link" (click)="prev()" tabindex="-1">Previous</button>
            </li>
            <li class="page-item" *ngFor="let i of pageArray">
              <button class="page-link" (click)="onClick(i-1)">{{i}}</button></li> 
            <li class="page-item">
              <button class="page-link" (click)="next()">Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
