<div class="footer">
    <div class="w-100">
        <div class="contact-box text-white">
          <div class="contact-body" style="width: 100%;background-color: rgb(33, 37, 41);">
            <div class="row" style="padding: 1rem;">
              <!-- Left Section: Contact Information -->
              <div class="col-md-4" >
                <h5 class="contact-title text-center" style="color: white; font-size: 27px; margin-bottom: 3rem;">Contact Us</h5>
                <p class="contact-text text-center"style="color: white;">If you need assistance, contact our customer support team.</p>
      
                <!-- Contact Information -->
                <div class="contact-info">
                  <!-- Email -->
                  <div class="contact-item text-center" style="color: white;">
                    <i class="bi bi-envelope-fill" style="color: white;"></i>
                    <a href="mailto:customerservice@mavericksbank.com" class="ms-2"style="color: white;">customerservice-hexawarebank.com</a>
                  </div>
                  <!-- Phone Numbers -->
                  <div class="contact-item text-center" style="color: white;">
                    <i class="bi bi-telephone-fill" style="color: white;"></i>
                    <span class="ms-2" style="color: white;">Customer Care: +91 1234567890</span>
                  </div>
                  <div class="contact-item text-center">
                    <i class="bi bi-telephone-fill" style="color: white;"></i>
                    <span class="ms-2" style="color: white;">Toll-Free: 1800-987-6543</span>
                  </div>
                </div>
              </div>
      
              <!-- Middle Section: Social Media Icons -->
              <div class="col-md-4">
                <h5 class="contact-title text-center" style="color: white; font-size: 28px; margin-bottom: 3rem;">Follow Us</h5>
                <ul class="list-inline text-center" style="color: white;">
                  <li class="list-inline-item" style="color: black;"><a href="#" ><i class="bi bi-instagram" style="font-size: 40px;color: white;"></i></a></li>
                  <li class="list-inline-item" style="color: black;"><a href="#" ><i class="bi bi-whatsapp" style="font-size: 40px; ;color: white;"></i></a></li>
                  <li class="list-inline-item" style="color: black;"><a href="#" ><i class="bi bi-twitter" style="font-size: 40px; ;color: white;"></i></a></li>
                </ul>
              </div>
      
              <!-- Right Section: Privacy Policy and Careers -->
              <div class="col-md-4">
                <h5 class="contact-title text-center" style="color: white; font-size: 25px; margin-bottom: 3rem;">Privacy Policy & Careers</h5>
                <ul class="list-unstyled text-center" style="color: white;">
                  <li><a href="#"   style="color: white;">Privacy Policy</a></li>
                  <li><a href="#"  style="color: white;">Careers</a></li>
                  <li><a href="#"  style="color: white;">Partners</a></li>
                  <li><a href="#"  style="color: white;">Services</a></li>
                  <li><a href="#"  style="color: white;">FAQ's</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  

